@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/nasa');
@font-face{
		font-family:'fontYouandiModernTR'; /*글꼴*/
		src: url('fontYouandiModernTR.ttf') format('truetype');
	}
	
	body{margin: 0; overflow: hidden;}
		table{width: 100vw; height: 100vh; margin: 0}
		.bg-video {position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
		.bg-video_content {height: 100%; width: 100%; object-fit: cover;}
		.bg-text {position: absolute; top: 50%; width: 100%; height: 100%;}
		.bg-text h1 {margin: -800px; text-align: center; font-size: 200px; font-weight: 700; color:#fee500;}
		.bg-text h3 {margin: 1400px auto; text-align: center; font-size: 20px; font-weight: 700; color: #ffffff;}
		ul{display: flex; justify-content: center; margin:-50px; position: relative; bottom: 80px;}
		h3{position: relative; bottom: -40px;}
		ul>li {float: left; list-style: none;}
		img{margin:auto;}
		.f_search {margin-top: 56px; width: 1180px; height: 180px; margin-left: auto; margin-right: auto; text-align: center; position: relative; bottom:190px;}
		.sch_wrap {width: 664px; margin: 0 auto; display: flex; flex-direction: column; align-items: center; }
		.sch_wrap form {position: relative; width: 644px; height: 68px;}
		.txt {box-sizing: border-box; width: 100%; height: 68px; border: 2px solid #202020; padding: 0 20px; font-size: 20px; font-weight: 700;}
		.btn_srch {display: inline-block; width: 32px; height: 32px; background: url('../images/ico_set2.png') -600px -150px no-repeat; background-size: 800px 800px;
    	border: 0; position: absolute; right: 280px; top: 46%; transform: translateY(-50%); cursor: pointer;}
    	#center {text-align: center;}
		#menu{position: relative; bottom:200px; display: inline-block;}
		#menu img{border-radius: 10px;}
		#menu_my {margin-right: 30px; }
		span{font-size: 30px; color: yellow; text-decoration: none; font-family: 'fontYouandiModernTR' , sans-serif; position: relative; left: 880px; bottom:460px;}
		span:hover{font-size: 30px; color: red; text-decoration: none; font-family: 'fontYouandiModernTR' , sans-serif; text-decoration: underline;}
		#h1{position: relative; top:120px; font-family: 'Nasa'}
		.mpg{position: relative; display: inline-block; overflow: hidden; transition: transform 0.3s ease-in-out;}
		.mpg:hover{ transform : translateY(-30px); }
		#ul2{position: relative; bottom: 10px;}
		
		#modal_box{position: fixed; z-index: 1; top: 0; left:0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.6);
		 justify-content: center; align-items: center; }
		#f_title{ text-align: center; font-family:'fontYouandiModernTR';}
		#modal_cont{background-color: #fff; width: 700px; height: 350px; padding: 20px; border-radius:5px ;
		}
		input{width: 667px; height: 40px; font-family:'fontYouandiModernTR'; font-size: 15px;}
		#desc{padding: 20px;}
		button{margin: 20px 5px; width: 95px; height: 35px; float: right; font-family:'fontYouandiModernTR'; background:#346aff ; color:#fee500; border: 1px solid #346aff; cursor: pointer; border-radius: 5px;}
		button:hover{margin: 20px 5px; width: 95px; height: 35px; float: right; font-family:'fontYouandiModernTR'; background:#fee500 ; color:#346aff; border: 1px solid #fee500; cursor: pointer;}
		.popOn{display: flex;}
		.popOff{display: none;}
		label{font-family:'fontYouandiModernTR';}
		